.Card {

	display: flex;
	flex-direction: column;
	min-height: 350px;
	&_title {
		color: #0B132A;
		font-weight: 500;
		font-size: 35px;
		line-height: 41px;
		text-align: left;
		width: 526px;
		margin-bottom: 15px;
	}

	&_content {
		display: flex;
		justify-content: space-between;
		
	}
}

.content {
	
	&_img__full {
		position: relative;
		width: 526px;
		min-height: 350px;
		img {
			position: absolute;
			width: 526px;
			height: 350px;
			top: 50%;
			left: 50%;
			object-fit: contain;
			transform: translate(-50%, -50%);
		}
	}

	&_img__kurz {
		position: relative;
		width: 526px;
		min-height: 285px;
		img {
			position: absolute;
			width: 335px;
			height: 285px;
			top: 50%;
			left: 50%;
			object-fit: contain;
			transform: translate(-50%, -50%);
		}
	}
	
	&_body {

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 526px;
		text-align: left;
		
	}
}

.body {
	&_title {
		color: #0B132A;
		font-weight: 500;
		font-size: 22px;
		line-height: 26px;
		margin-bottom: 15px;
	}
	&_subtitle {
		font-size: 14px;
		line-height: 17px;
		color: #0B132A;
		margin-bottom: 15px;
	}
	&_text {
		color: #4F5665;
		font-size: 17px;
		line-height: 25px;
		margin-bottom: 30px;
	}
	&_props {
		ul {
			li {
				position: relative;
				list-style-type: none;
				padding-left: 35px;
				color: #000;
				font-size: 17px;
				line-height: 20px;
				margin-bottom: 24px;
			}
			li:not(:last-child) {
				margin-bottom: 18px;
			}
			li:before {
				content: url('../../data/icons/check.png');
				position: absolute;
				left: 0px;
			}
		}
	}
}

.dir_reverse {
	display: flex;
	justify-content: space-between;
	flex-direction: row-reverse;
}